* {
    margin: 0px;
    padding: 0px;       
}

body {
    background: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor {
    width: 70%;
    margin: 0px auto;
    border: 1px solid black;
}

header {
    background: brown;
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color:white;
    border-bottom: 3px solid black;
}

nav {
    background: #1ac8ce;
    height: 50px;
    border-bottom: 1px solid black;
}

nav ul li {
    float:left;
    list-style: none;
    margin: 10px;
    line-height: 30px;    
}

.clear {
    clear:both
}

#contenido {
    float:left;
    width: 80%;
    background: green;
    min-height: 500px;
}

aside {
    float:left;
    width: calc(20% - 20px);
    background: pink;
    min-height: 500px;
    padding: 0px 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.article {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;

}

.article:first-child {
    border-top: 1px solid white;
    padding-top: 10px;
}

.article h2 {
    font-size: 20px;
    color:yellow
}